<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>渐好</string>
  <key>CFBundleName</key>
  <string>渐好</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright (c) 2026 OSpoon</string>
  <key>NSCameraUsageDescription</key>
  <string>渐好需要使用摄像头来在本机检测坐姿，画面不会上传。</string>
</dict>
</plist>
